{% extends "layout:base.html.twig" %}

{% block title %}
  Éditeurs
{% endblock %}

{% block main %}

  <h1>Éditeurs</h1>

  <ul>
    {% for publisher in publishers %}
      <li>
        <a href="{{ path('publisher_show', { slug: publisher.url }) }}">
          {{ publisher.name }}
        </a>
      </li>
    {% endfor %}
  </ul>

  {% include 'AppBundle:Publisher:_pagination.html.twig' %}

{% endblock %}