{% extends "layout:base.html.twig" %}

{% block title %}
  Accès refusé
{% endblock %}

{% block main %}
  <h1>Accès refusé</h1>
  <p>{{ message }}</p>
  <p>
    Vous n'êtes pas autorisé à accéder à cette page.
  </p>
  <a class="btn btn-primary" href="{{ path('user_login', { return_url: return_url }) }}">
    Essayer avec un autre compte
  </a>
{% endblock %}
