{% extends "layout:base.html.twig" %}

{% block title %}
  Service temporairement indisponible
{% endblock %}

{% block main %}
  <h1>Service temporairement indisponible</h1>

  <p>Merci de réessayer dans quelques instants.</p>
{% endblock %}
