{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:base.html.twig" %}

{% block title %}
  Erreur de paiement
{% endblock %}

{% block main %}
  <h1>Erreur de paiement</h1>
  <p>
    Une erreur est survenue lors de la tentative de paiement de la commande n° {{ order.id }}.<br />
    Le moyen de paiement n'a pas été débité.<br />
    Le prestataire de paiement a retourné le message suivant :
  </p>
  <div class="alert alert-danger">
    {{ code }}<br />
    {{ message }}
  </div>
  <p>
    Si le message ci-dessus ne vous éclaire pas,
    merci de vous rapprocher de votre banque afin de connaître la raison de l'échec du paiement.
  </p>
  <a href="/order/{{ order.url }}" class="btn btn-primary">Réessayer</a>
{% endblock %}