{% extends "layout:base.html.twig" %}

{% block title %}
  Frais de port
{% endblock %}

{% block main %}

  <h1>Gestion des frais de port</h1>

  <div class="buttons">
    <button id="add-range" class="btn btn-primary">
      Ajouter une tranche
    </button>
  </div>

  <div id="new-range-form"></div>

  <table id="shipping-table" class="table">
    <thead>
    <tr>
      <th>Intitulé</th>
      <th>Type</th>
      <th>Zone</th>
      <th>Conditions</th>
      <th>Montant</th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>

{% endblock %}
