{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Expédition · Options
{% endblock %}

{% block main %}

  {% include "AppBundle:Shipping:_admin_navigation.html.twig" with { active: "options" } %}

  <div class="buttons my-4">
    <button id="add-range" class="btn btn-primary">
      <i class="fa-solid fa-square-plus"></i>
      Ajouter une option
    </button>
  </div>

  <div id="new-range-form"></div>

  <table id="shipping-table" class="table">
    <thead>
    <tr>
      <th>Intitulé</th>
      <th>Type</th>
      <th>Zone</th>
      <th>Conditions</th>
      <th>Montant</th>
      <th></th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>

{% endblock %}
