<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>{PAGE_TITLE}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {CSS_CALLS} {OPENGRAPH}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{SITE_TITLE}</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a
                  href="/posts/"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Blog <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/posts/actualites/">Actualités</a></li>
                  <li><a href="/posts/coups-de-coeur/">Coups de coeur</a></li>
                  <li><a href="/posts/evenements/">Evenements</a></li>
                </ul>
              </li>
              <li><a href="/rayon/nouveautes">Nouveautés</a></li>
              <li><a href="/rayon/occasions">Occasions</a></li>
              <li class="dropdown">
                <a
                  href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Rayons <span class="caret"></span
                ></a>
                <ul class="dropdown-menu">
                  <li><a href="/rayon/litterature">Littérature</a></li>
                  <li><a href="/rayon/jeunesse">Jeunesse</a></li>
                  <li><a href="/rayon/vie-pratique">Vie pratique</a></li>
                </ul>
              </li>
              <li><a href="/pages/a-propos">À propos</a></li>
              <li><a href="/contact/">Contact</a></li>
              <li>
                <a href="/articles/search"><i class="fa fa-search"></i></a>
              </li>
              <li>
                <a href="/pages/cart"><i class="fa fa-shopping-cart"></i></a>
              </li>
            </ul>
          </div>
          <!--/.navbar-collapse -->
        </div>
      </nav>
    </header>

    <main class="container">
      {PAGE_CONTENT}
    </main>

    <footer>
      <p class="text-center">&copy; {SITE_TITLE}</p>
      <p class="text-center">
        <a href="http://www.biblys.fr/" target="_blank">
          <img src="/assets/images/propulse-par-biblys.png" alt="Propulsé par Biblys" />
        </a>
      </p>
    </footer>

    {AXYS_MENU} {JS_CALLS}
  </body>
</html>
