[*.php]
indent_style = space
indent_size = 4
quote_type = double

[*.{html,js,css}]
indent_style = space
indent_size = 2
quote_type = double

[*.js]
indent_style = space
indent_size = 2
quote_type = single

[*.yml]
indent_style = space
indent_size = 2
