{
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "strict": [2, "global"],
    "indent": [2, 2]
  }
}
