*.sql
!db-schema.sql
*.phar
sitemap.xml*
vendor/
tags
logs/*
!.gitkeep
config.yml
public/*
!public/index.php
!public/api.php
!public/x.php
!public/robots.txt
!public/security.txt
!public/.htaccess
!public/.ovhcconfig
!public/common
!public/assets
!public/libs
!public/media/*
.DS_Store
app/
!app/config.yml.dist
*.swp
.php_cs.cache
yarn-error.log
node_modules
.phpunit.result.cache
data
