services:
  biblys:
    container_name: biblys-dev-env
    image: biblys/php-dev-env:8.1
    restart: on-failure
    volumes:
      - './:/usr/src/:cached'
    ports:
      - '8088:80'
  db:
    image: mariadb:12.0
    container_name: biblys-mysql
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
      MYSQL_DATABASE: biblys
    ports:
      - '3306:3306'
    volumes:
      - ./data/db:/var/lib/mysql

  mail:
    image: axllent/mailpit:latest
    container_name: biblys-mailpit
    ports:
      - '8025:8025'
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
