{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Modifier la contrepartie
{% endblock %}

{% block main %}
  <h1>Modifier la contrepartie</h1>

  {% include 'AppBundle:CFReward:_form.html.twig' %}

  <p>
    <a class="btn btn-outline-secondary" data-toggle="collapse" data-target="#viewdetails">Informations supplémentaires
      &raquo;</a>
  </p>
  <form id="viewdetails" class="collapse fieldset">
    <fieldset>
      <p>
        <label class="after">Identifiant :</label>
        <input value="{{ reward.id }}" class="form-control" readonly>
      </p>
      <p>
        <label class="after">Date de création :</label>
        <input value="{{ reward.has('created') ? reward.created }}" class="form-control" readonly>
      </p>
      <p>
        <label class="after">Date de modification :</label>
        <input value="{{ reward.has('updated') ? reward.updated }}" class="form-control" readonly>
      </p>
    </fieldset>
  </form>
{% endblock %}