<div class="alert
        {% if cloud_subscription.hasExpired %}
            alert-danger
        {% elseif cloud_subscription.isExpiringSoon %}
            alert-warning
        {% else %}
            alert-success
        {% endif%}
    text-center">
    <span class="fa
        {% if cloud_subscription.hasExpired %}
            fa-exclamation-circle
        {% elseif cloud_subscription.isExpiringSoon %}
            fa-info-circle
        {% else %}
            fa-check-circle
        {% endif%}
    "></span>
    {% if cloud_subscription.hasExpired %}
        Votre abonnement Biblys Cloud a expiré.
    {% else %}
        Votre abonnement Biblys Cloud expire.
    {% endif %}
    &nbsp;
    <a href="{{ path('main_admin_cloud') }}" class="btn btn-sm btn-primary">En savoir plus</a>
</div>
