{% if not cloud.subscription %}
  <div class="alert alert-warning text-center">
    <span class="fa fa-warning"></span>
    <strong>Aucun abonnement Biblys Cloud en cours.</strong><br/>
    <a href="{{ path('main_admin_cloud_portal') }}" class="btn btn-sm btn-success">
      Souscrire
    </a>
  </div>
{% elseif not cloud.subscription.isPaid %}
  <div class="alert alert-danger text-center">
    <span class="fa fa-exclamation-triangle"></span>
    Votre abonnement Biblys Cloud a expiré.
    <a href="{{ path('main_admin_cloud') }}" class="btn btn-sm btn-primary">En savoir plus</a>
  </div>
{% endif %}
