{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Abonnement Biblys
{% endblock %}

{% block main %}
  <h1>
    <span class="fa fa-leaf"></span>
    Abonnement Biblys
  </h1>

  {% if subscription %}
    {% if domains %}
      <p>Domaines inclus : {{ domains|join(", ") }}</p>
    {% endif %}

    {% if not subscription.isActive %}
      <p>Votre abonnement a expiré.</p>
    {% endif %}

    <a href="{{ path('main_admin_cloud_portal', { return_url: app.currentUrl.absoluteUrl }) }}" class="btn btn-primary">
      <span class="fa fa-gears"></span>&nbsp;
      Gérer mon abonnement
    </a>

  {% else %}
    <p>Aucun abonnement Biblys en cours.</p>
  {% endif %}
{% endblock %}

