{% extends "layout:base.html.twig" %}

{% block title %}
  Abonnement Biblys Cloud
{% endblock %}

{% block main %}
  <h1>Abonnement Biblys Cloud</h1>

  {% if subscription %}
    {% if domains %}
      <p>Domaines inclus : {{ domains|join(", ") }}</p>
    {% endif %}

    {% if not subscription.isPaid %}
      <p>Votre abonnement a expiré.</p>
    {% endif %}

    <a href="{{ path('main_admin_cloud_portal', { return_url: app.currentUrl.absoluteUrl }) }}" class="btn btn-primary">
      <span class="fa fa-cloud"></span>
      Gérer mon abonnement
    </a>

  {% else %}
    <p>Aucun abonnement Biblys Cloud en cours.</p>
  {% endif %}
{% endblock %}

