<h1>Abonnement Biblys Cloud</h1>

{% if cloud_subscription_exists %}
  <p>Date d'expiration : {{ cloud_expiration_date|date("j f Y") }}</p>
  {% if domains %}
    <p>Domaines inclus : {{ domains|join(", ") }}</p>
  {% endif %}
{% else %}
  <p>Aucun abonnement Biblys Cloud en cours.</p>
{% endif %}

<a href="{{ path('main_admin_cloud_portal') }}" class="btn btn-primary">
  <span class="fa fa-cloud"></span>
  Gérer mon abonnement
</a>
