<h1>Abonnement Biblys Cloud</h1>

<p>Date d'expiration : {{ cloud_expiration_date|date("j f Y") }}</p>
{% if domains %}
    <p>Domaines inclus : {{ domains|join(", ") }}</p>
{% endif %}

{% if renew_link %}
    <a href="{{ renew_link }}" target="_blank" rel="noopener noreferer" class="btn btn-success">
        <span class="fa fa-refresh"></span>
        Renouveler
    </a>
{%  endif %}
