{% extends "layout:base.html.twig" %}

{% block title %}
  Dernières parutions
{% endblock %}

{% block main %}
  <h1>Dernières parutions</h1>

  {% include 'AppBundle:Article:_list.html.twig' %}
{% endblock %}