{% extends "layout:base.html.twig" %}

{% block title %}
  Payer avec Paypal
{% endblock %}

{% block main %}
  <h1>Payer avec Paypal</h1>
  <p>Vous allez être redirigé vers le site de Paypal pour effectuer le paiement.</p>
{% endblock %}