<div class="OverallMenu overall-menu">
  {% if app.currentUser.isAuthentified and app.currentUser.isAdmin %}
    <a class="OverallMenu__entry" href="{{ path("main_admin") }}">
      <span class="fa fa-cogs"></span>
      <span class="OverallMenu__entry__label">Administration</span>
    </a>
  {% endif %}

  <a href="/pages/cart">
    <span class="fa fa-shopping-basket"></span>
    <span class="OverallMenu__entry__label">Mon panier</span>
  </a>

  {% if not app.currentUser.isAuthentified %}
    <a class="OverallMenu__entry" href="{{ path("user_login", { return_url: app.currentUrl.relativeUrl }) }}">
      <span class="fa fa-user-circle-o"></span>
      Connexion
    </a>
  {% else %}
    <a class="OverallMenu__entry" href="{{ path("user_account") }}">
      <span class="fa fa-user-circle"></span>
      Mon compte
    </a>
  {% endif %}
</div>
