<div class="overall-menu">
  {% if not app.currentUser.isAuthentified %}
    <a href="{{ path("user_login", { return_url: app.currentUrl.relativeUrl }) }}">
      <span class="fa fa-user-circle-o"></span>
      Connexion
    </a>
  {% else %}
    <a href="{{ path("user_account") }}">
      <span class="fa fa-user-circle"></span>
      Mon compte <span class="overall-menu__site-title">{{ app.currentSite.title }}</span>
    </a>
  {% endif %}
</div>
