<html lang="fr">
  <head>
    <title>{% block title %}{% endblock %} | {{ app.currentSite.title }}</title>
    {% include "layout:_assets_css.html.twig" %}
  </head>
  <body>
    {% include "layout:_overall_menu.html.twig" %}
    {% include "layout:_flash_messages.html.twig" %}

    <h1>{{ app.currentSite.title }}</h1>

    {% block main %}{% endblock %}

    {% include "layout:_assets_js.html.twig" %}
  </body>
</html>