<html lang="fr">
  <head>
    <title>{% block title %}{% endblock %} | {{ app.site.title }}</title>
    {% include "layout:_assets_css.html.twig" %}
  </head>
  <body>
    <h1>{{ app.site.title }}</h1>

    {% block main %}{% endblock %}

    {% include "layout:_assets_js.html.twig" %}
  </body>
</html>