{% extends "layout:base.html.twig" %}

{% block title %}
  Créer un nouveau rayon
{% endblock %}

{% block main %}

  <h1>Créer un nouveau rayon</h1>

  {% if error %}
    <p class="alert alert-danger">
      {{ error }}
    </p>
  {% endif %}

  {% include 'AppBundle:Rayon:_form.html.twig' %}

{% endblock %}
