{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:base.html.twig" %}

{% block title %}
  Comment télécharger et lire des livres numériques ?
{% endblock %}

{% block main %}
  <h1>Comment télécharger et lire des livres numériques ?</h1>

  <p>Pour télécharger un livre numérique depuis votre bibliothèque numérique Biblys, cliquez tout simplement sur le format de votre choix.</p>

  <h2>Quel format choisir ?</h2>

  <p>Pour chaque livre numérique, plusieurs formats vous serons proposés. Attention, tous les formats ne sont pas toujours disponibles.</p>

  <ul>
    <li>Le format <strong>ePub</strong> est le format standard des livres numériques. Il est fait pour s'adapter à toute tablette, liseuse, ordinateur ou autre appareil de lecture, quelle que soit la taille de son écran. Choisissez ce format si vous souhaitez lire votre livre sur un appareil de lecture.</li>
    <li>Le format <strong>PDF</strong> est le format dédié à l'impression. Choisissez ce format si vous souhaitez imprimer le livre numérique pour le lire.</li>
    <li>Le format <strong>Kindle</strong>&nbsp;est le format propriétaire de la liseuse du même nom. Choisissez ce format pour lire des livres numérique sur la liseuse d'Amazon.</li>
  </ul>

  <h2>Comment ouvrir les fichiers ePubs sur mon ordinateur ?</h2>

  <p>Il existe de nombreuses applications permettant d'ouvrir les livres numériques au format ePub sur toutes les plateformes, on pourra en trouver <a href="https://fr.wikipedia.org/wiki/EPUB_(format)#Logiciels">une liste sur Wikipédia</a>.</p>

  <h2>Comment transférer les livres numériques sur mon appareil de lecture ?</h2>

  <p>La procédure varie en fonction de chaque appareil, nous vous conseillons de vous rapprocher du fabricant de votre appareil pour connaître la marche à suivre.</p>

  <ul>
    <li><a href="https://www.amazon.fr/gp/help/customer/display.html/ref=help_search_1-1?ie=UTF8&amp;nodeId=201242340&amp;qid=1390820829&amp;sr=1-1">Amazon Kindle</a></li>
    <li><a href="https://fr.kobo.com/help/fr-FR/article/3169/ajouter-des-livres-sur-votre-liseuse-kobo?products=Shopping">Kobo</a></li>
  </ul>

{% endblock %}