Options +FollowSymlinks

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$  /index.php [QSA,L]

<IfModule mod_expires.c>
 ExpiresActive On
 ExpiresByType application/javascript "access plus 2592000 seconds"
</IfModule>

# Compression
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript

# HTML 5 Video
AddType video/ogg  .ogv
AddType video/mp4  .mp4
AddType video/webm .webm

# Cache
<FilesMatch "\.(gif|jpg|png|js|css)$">
  ExpiresActive On
  ExpiresDefault "access plus 1 months"
</FilesMatch>
