Options +FollowSymlinks
RewriteEngine on

ErrorDocument 404 /pages/404

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$  /index.php [QSA,L]

## Redirection people
#RewriteCond %{REQUEST_URI} !/common/
#RewriteRule ^(.*)/$  /index.php?page=legacy-people&url=$1 [QSA,L]
#
## Redirection article
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)/(.*)$  /index.php?page=legacy-article&url=$1/$2 [QSA,L]

<IfModule mod_expires.c>
 ExpiresActive On
 ExpiresByType application/javascript "access plus 2592000 seconds"
</IfModule>

# Compression
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript

# HTML 5 Video
AddType video/ogg  .ogv
AddType video/mp4  .mp4
AddType video/webm .webm

# Cache

<FilesMatch "\.(gif|jpg|png|js|css)$">
  ExpiresActive On
  ExpiresDefault "access plus 1 months"
</FilesMatch>


## CONTROLLERS TO REMOVE ? ##

## Redirection /librairie/
#RewriteRule ^librairie/(.*)  /index.php?page=bookshop&url=$1 [QSA,L]
#
## Redirection /bibliotheque/
#RewriteRule ^bibliotheque/(.*)  /index.php?page=library&url=$1 [QSA,L]
#
## Redirection /feed/
#RewriteRule ^feed/(.*) /feed.php/$1 [QSA,L]
#
## Redirection /photos/
#RewriteRule ^photos/(.*)/$  /index.php?page=photos&url=$1 [QSA,L]
#RewriteRule ^photos/(.*)/(.*)$  /index.php?page=photos&url=$1&image=$2 [QSA,L]
#
