{% extends "layout:base.html.twig" %}

{% block title %}
  Créer des invitations de téléchargement
{% endblock %}

{% block main %}
  <h1>Créer des invitations de téléchargement</h1>

  <p class="alert alert-info">
    <span class="fa fa-info-circle"></span>
    Le destinataire recevra par courriel avec un lien permettant d'ajouter l'article à sa bibliothèque numérique.
    Il pourra ensuite télécharger à volonté l'article depuis sa bibliothèque.
  </p>

  <form method="post" action="{{ path("invitation_create") }}">
    <div class="form-group">
      <label for="article_id">Article à envoyer :</label>
      <select id="article_id" name="article_id" class="form-control" required>
        {% for article in downloadableArticles %}
          <option value="{{ article.id }}">{{ article.title }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="email_addresses">Adresses e-mail des destinataires</label>
      <p class="text-muted"><small>Entrez une ou plusieurs adresses, à raison d'une par ligne.</small></p>
      <textarea
            rows="10"
            class="form-control"
            id="email_addresses"
            name="email_addresses"
            placeholder="amalia.vanesqwill@example.org&#10;hirion.de.wautier@example.org&#10;yonas.russmor@example.org&#10;…"
            required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Envoyer</button>
  </form>
{% endblock %}
