{% extends "layout:base.html.twig" %}

{% block title %}
  Créer des invitations de téléchargement
{% endblock %}

{% block main %}
  <h1>Créer des invitations de téléchargement</h1>

  <p class="alert alert-info">
    <span class="fa fa-info-circle"></span>
    Cet outil permet de générer des liens d'invitation de téléchargement.<br />
    En cliquant sur le lien généré, le destinataire pourra ajouter l'article à la bibliothèque numérique du son compte,
    puis le télécharger à volonté et dans le format de son choix.<br />
  </p>

  <form method="post" action="{{ path("invitation_create") }}">
    <div class="form-group">
      <label for="article_id">Article à envoyer :</label>
      <select id="article_id" name="article_id" class="form-control" required>
        {% for article in downloadableArticles %}
          <option value="{{ article.id }}">{{ article.title }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="email_addresses">Adresses e-mail des destinataires</label>
      <p class="text-muted"><small>Entrez une ou plusieurs adresses, à raison d'une par ligne.</small></p>
      <textarea
            rows="10"
            class="form-control"
            id="email_addresses"
            name="email_addresses"
            placeholder="amalia.vanesqwill@example.org&#10;hirion.de.wautier@example.org&#10;yonas.russmor@example.org&#10;…"
            required></textarea>
    </div>

    <label>Mode d'envoi</label>
    <p>
      <small class="text-muted">
        Les liens d'invitation peuvent être envoyés par courriel directement depuis le site. Vous pouvez aussi
        télécharger une liste d'invitation avec les adresses e-mails associés pour les transmettre par un autre moyen.
      </small>
    </p>
    <div class="radio">
      <label>
        <input type="radio" name="mode" id="mode_send" value="send" checked>
        Envoyer les liens d'invitation par e-mail
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="mode" id="mode_download" value="download">
        Télécharger les liens d'invitation en CSV
        <small class="text-muted">(recommandé au-delà de 100 destinataires)</small>
      </label>
    </div>

    <button type="submit" class="btn btn-primary">Envoyer</button>
  </form>
{% endblock %}
