{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
  Créer des invitations de téléchargement
{% endblock %}

{% block main %}
  <h1>Créer des invitations de téléchargement</h1>

  <p class="alert alert-info">
    <span class="fa fa-info-circle"></span>
    Cet outil permet de générer des liens d'invitation de téléchargement.<br />
    En cliquant sur le lien généré, le destinataire pourra ajouter l'article à la bibliothèque numérique du son compte,
    puis le télécharger à volonté et dans le format de son choix.<br />
  </p>

  <form method="post" action="{{ path("invitation_create") }}">
    <div class="form-group">
      <label for="article_id">Articles à inclure</label>
      <p>
        <small class="text-muted">
          Pour sélectionner plusieurs articles, maintenez la touche <kbd>Ctrl</kbd> (ou <kbd>Cmd</kbd> sur Mac) enfoncée.
        </small>
      </p>
      <select id="article_id" name="article_ids[]" class="form-control" multiple required style="height: 200px">
        {% for article in downloadableArticles %}
          <option value="{{ article.id }}">{{ article.titleAlphabetic }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="email_addresses">Adresses e-mail des destinataires</label>
      <p class="text-muted"><small>Entrez une ou plusieurs adresses, à raison d'une par ligne.</small></p>
      <textarea
            rows="10"
            class="form-control"
            id="email_addresses"
            name="email_addresses"
            placeholder="amalia.vanesqwill@example.org&#10;hirion.de.wautier@example.org&#10;yonas.russmor@example.org&#10;…"
            required></textarea>
    </div>

    <label>Mode d'envoi</label>
    <p>
      <small class="text-muted">
        Par défaut, les liens d'invitation sont envoyés par courriel depuis le site immédiatement après leur
        création. Vous pouvez aussi récupérer les liens pour les envoyer manuellement ou télécharger une liste
        de liens avec les adresses e-mails associés pour les transmettre par un autre moyen, par exemple avec un outil
        d'e-mailing.
      </small>
    </p>
    <div class="radio">
      <label>
        <input type="radio"  id="mode_send" name="mode" value="send" checked>
        Envoyer les liens d'invitation par e-mail
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio"  id="mode_manual" name="mode" value="manual">
        Créer les liens d'invitation, sans les envoyer
        <small class="text-muted">(pour un envoi manuel)</small>
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio"  id="mode_download" name="mode" value="download">
        Télécharger un fichier CSV avec les liens d'invitations
        <small class="text-muted">(recommandé au-delà de 100 destinataires)</small>
      </label>
    </div>

    <label>Options</label>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="allows_pre_download" value="1">
        Autoriser le téléchargement des articles avant leur date de parution
      </label>
    </div>

    <button type="submit" class="btn btn-primary">Envoyer</button>
  </form>
{% endblock %}
