{% extends "layout:base.html.twig" %}

{% block title %}
  {{ gallery.title }}
{% endblock %}

{% block main %}
  <h1>{{ gallery.title }}</h1>
  {% include 'AppBundle:Gallery:_gallery.html.twig' %}
{% endblock %}