{% extends "layout:base.html.twig" %}

{% block title %}
    Créer une campagne de financement
{% endblock %}

{% block main %}
    <h1>Créer une campagne de financement</h1>

    {% include 'AppBundle:CFCampaign:_form.html.twig' %}
{%  endblock %}
