# External Auth

api_auth:
  path: /api/auth
  controller: ApiBundle\Controller\AuthController::authAction

api_me:
  path: /api/me
  controller: ApiBundle\Controller\AuthController::meAction

# Articles

api_articles_export:
  methods: GET
  path: /api/admin/articles/export
  controller: ApiBundle\Controller\ArticleController::export

api_articles_bundle:
  methods: POST
  path: /api/admin/articles/{id}/add-to-bundle
  controller: ApiBundle\Controller\ArticleController::addToBundleAction

# Collections

api_collection_create:
  methods: POST
  path: /api/collections
  controller: ApiBundle\Controller\CollectionController::createAction

api_collection_search:
  methods: GET
  path: /api/collections/search
  controller: ApiBundle\Controller\CollectionController::searchAction

# Contribution

api_contribution:
  path: /api/admin/articles/{articleId}/contributions
  methods: GET
  controller: ApiBundle\Controller\ContributionController::index

api_contribution_create:
  path: /api/admin/articles/{articleId}/contributions
  methods: POST
  controller: ApiBundle\Controller\ContributionController::create

api_contribution_update:
  path: /api/admin/articles/{articleId}/contributions/{id}
  methods: PUT
  controller: ApiBundle\Controller\ContributionController::update

api_contribution_delete:
  path: /api/admin/articles/{articleId}/contributions/{id}
  methods: DELETE
  controller: ApiBundle\Controller\ContributionController::delete

# Orders

api_orders_export_colissimo:
  methods: GET
  path: /api/admin/orders/export/colissimo
  controller: ApiBundle\Controller\OrderController::exportForColissimoAction

api_orders_export_mondial_relay:
  methods: GET
  path: /api/admin/orders/export/mondial-relay
  controller: ApiBundle\Controller\OrderController::exportForMondialRelayAction

# Payment

api_stripe_create_payment:
  methods: POST
  path: /api/orders/{slug}/stripe/create-payment
  controller: ApiBundle\Controller\PaymentController::createStripePaymentAction

# Shipping

api_shipping:
  path: /api/admin/shipping
  methods: GET
  controller: ApiBundle\Controller\ShippingController::indexAction

api_shipping_create:
  path: /api/admin/shipping
  methods: POST
  controller: ApiBundle\Controller\ShippingController::createAction

api_shipping_update:
  path: /api/admin/shipping/{id}
  methods: PUT
  controller: ApiBundle\Controller\ShippingController::updateAction

api_shipping_archive:
  path: /api/admin/shipping/{id}/archive
  methods: POST
  controller: ApiBundle\Controller\ShippingController::archiveAction

api_shipping_delete:
  path: /api/admin/shipping/{id}
  methods: DELETE
  controller: ApiBundle\Controller\ShippingController::deleteAction

api_shipping_search:
  path: /api/shipping/search
  methods: GET
  controller: ApiBundle\Controller\ShippingController::search

api_shipping_get:
  path: /api/shipping/{id}
  methods: GET
  controller: ApiBundle\Controller\ShippingController::get

# Legacy

legacy_x_adm_article_award:
  path: /x/adm_article_award
  controller: ApiBundle\Controller\LegacyController::defaultAction

legacy_x_adm_article_cycle:
  path: /x/adm_article_cycle
  controller: ApiBundle\Controller\LegacyController::defaultAction

legacy_x_adm_article_duplicate_check:
  path: /x/adm_article_duplicate_check
  controller: ApiBundle\Controller\LegacyController::defaultAction

legacy_x_adm_article_people:
  path: /x/adm_article_people
  controller: ApiBundle\Controller\LegacyController::defaultAction

legacy_x_adm_article_prices:
  path: /x/adm_article_prices
  controller: ApiBundle\Controller\LegacyController::defaultAction

legacy_x_adm_article_publisher:
  path: /x/adm_article_publisher
  controller: ApiBundle\Controller\LegacyController::defaultAction

legacy_x_adm_customers:
  path: /x/adm_customers
  controller: ApiBundle\Controller\LegacyController::defaultAction

legacy_x_adm_images:
  path: /x/adm_images
  controller: ApiBundle\Controller\LegacyController::defaultAction

legacy_x_adm_reorder:
  path: /x/adm_reorder
  controller: ApiBundle\Controller\LegacyController::defaultAction

legacy_x_adm_stock:
  path: /x/adm_stock
  controller: ApiBundle\Controller\LegacyController::defaultAction

legacy_x_countries:
  path: /x/countries
  controller: ApiBundle\Controller\LegacyController::defaultAction
