{% if app.user.isAdmin() %}
  <div class="admin">
    <p>Article n°
      {{ article.id }}</p>
    <p>
      <a href="/pages/adm_article?id={{ article.id }}">modifier</a>
    </p>
    <p>
      <a href="/pages/adm_stocks?article_id={{ article.id }}">stock</a>
    </p>
    <p>
      <a href="/pages/adm_stock?add={{ article.id }}">ajouter</a>
    </p>
  </div>
{% endif %}
