{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:admin.html.twig" %}

{% block title %}
    Administration Biblys
{% endblock %}

{% block main %}
    <h1>
        Suppression de l'article &laquo; {{ article.title }} &raquo;
    </h1>


    {% if error %}

        <p class="alert alert-danger">{{ error }}</p>

    {% endif %}

    <form method="post" class="fieldset">
        <fieldset>
            <p>
                Êtes-vous sûr·e de vouloir continuer ?
            </p>

            <p>
                <strong>Toute suppression est définitive.</strong>
            </p>

            <button type="submit" class="btn btn-danger">
                Oui, supprimer l'article <strong>{{ article.title }}</strong>
            </button>
        </fieldset>
    </form>
{% endblock %}
