{% extends "layout:base.html.twig" %}

{% block title %}
    Administration Biblys
{% endblock %}

{% block main %}
    <h1>
        Suppression de l'article &laquo; {{ article.title }} &raquo;
    </h1>


    {% if error %}

        <p class="alert alert-danger">{{ error }}</p>

    {% endif %}

    <form method="post" class="fieldset">
        <fieldset>
            <p>
                Êtes-vous sûr·e de vouloir continuer ?
            </p>

            <p>
                <strong>Toute suppression est définitive.</strong>
            </p>

            <button type="submit" class="btn btn-danger">
                Oui, supprimer l'article <strong>{{ article.title }}</strong>
            </button>
        </fieldset>
    </form>
{% endblock %}
