{% extends "layout:base.html.twig" %}

{% block title %}
    Administration Biblys
{% endblock %}

{% block main %}
    <h1>Téléchargement gratuit</h1>

    <p><strong>{{ article.title }}</strong> sera ajouté à votre <a href="/pages/log_myebooks">bibliothèque numérique</a> d'où vous pourrez le télécharger à volonté et dans tous les formats disponibles.</p>

    <form method="post">

        {% if newsletter %}
            <p class="checkbox">
                <label class="after">
                    <input type="checkbox" name="newsletter" value="1"{{ newsletter_checked ? 'checked' }}>
                    Je souhaite recevoir la newsletter pour être tenu-e
                    au courant de l'actualité du site (facultatif).
                </label>
            </p>
        {% endif %}

        <button type="submit" class="btn btn-primary">Continuer</button>
    </form>
{% endblock %}
