{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:base.html.twig" %}

{% block title %}
    Téléchargement gratuit
{% endblock %}

{% block main %}
    <h1>Téléchargement gratuit</h1>

    <p>
        <strong>{{ article.title }}</strong> sera ajouté à votre
        <a href="{{ path('user_library') }}">bibliothèque numérique</a>
        d'où vous pourrez le télécharger à volonté et dans tous les formats disponibles.
    </p>

    <form method="post">

        {% if newsletter %}
            <p class="checkbox">
                <label class="after">
                    <input type="checkbox" name="newsletter" value="1"{{ newsletter_checked ? 'checked' }}>
                    Je souhaite recevoir la newsletter pour être tenu·e
                    au courant de l'actualité du site (facultatif).
                </label>
            </p>
        {% endif %}

        <button type="submit" class="btn btn-primary">Continuer</button>
    </form>
{% endblock %}
