{% extends "layout:base.html.twig" %}

{% block title %}
  Liste de contacts
{% endblock %}

{% block main %}
  <h1>Liste de contacts</h1>

  <h2>{{ subscribed|length }} abonnés</h2>

  <form action="/pages/export_to_csv" method="post" class="fieldset">
    <fieldset class="center">
      <input type="hidden" name="filename" value="contacts">
      <input type="hidden" name="data" value="{{ export }}">
      <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Télécharger au format CSV</button>
    </fieldset>
  </form>

  <table class="table">
    <thead>
      <tr>
        <th>E-mail</th>
        <th>Depuis le</th>
      </tr>
    </thead>

    <tbody>
      {% for email in subscribed %}
        <tr>
          <td> {{ email.has('email') ? email.email }} </td>
          <td> {{ email.has('created') ? email.created|date }} </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
