{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% extends "layout:base.html.twig" %}

{% block title %}
  Inscription à la newsletter
{% endblock %}

{% block main %}
  <h1>Inscription à la newsletter</h1>

  <p>
      En validant le formulaire ci-dessous, j'accepte de recevoir par courriel la
      newsletter de {{app.currentSite.title}}. Je comprends que je peux me désabonner de ces
      communications en cliquant sur le lien de désabonnement inséré à la fin de ces
      courriels.
  </p>

  <form method="post" action="{{ path('mailing_subscribe') }}">
    <fieldset>
          {% if recaptcha_key %}
              <div class="g-recaptcha" data-sitekey="{{ recaptcha_key }}"></div>
              <script src="https://www.google.com/recaptcha/api.js"></script>
          {% endif %}
      <input class="long" type="email" placeholder="Votre adresse e-mail"
              name="email" id="email" value="{{ field_value }}" required>
      <button class="btn btn-primary btn-sm">S'abonner</button>
      </fieldset>
  </form>
{% endblock %}
