<p class="alert alert-warning">
  L'outil de support Biblys va être supprimé.<br />
  Pour proposer de nouvelles fonctionnalités, utiliser le site <a href="https://ameliorer.biblys.cloud">Améliorer Biblys</a>.<br />
  Pour signaler un bug ou poser une question, écrivez à <a href="https://www.biblys.fr/contact/">clement@biblys.fr</a>.
</p>
