{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

<p class="alert alert-warning">
  L'outil de support Biblys va être supprimé.<br />
  Pour proposer de nouvelles fonctionnalités, utiliser le site <a href="https://ameliorer.biblys.cloud">Améliorer Biblys</a>.<br />
  Pour signaler un bug ou poser une question, écrivez à <a href="https://www.biblys.fr/contact/">clement@biblys.fr</a>.
</p>
