<form class="form-horizontal fieldset" method="post">
    <fieldset>

        <p>
            <label for="ticket_priority" class="after">Priorité :</label>
            <select name="ticket_priority" id="ticket_priority" class="form-control" required>
                <option/>
                <option value="0"{% if ticket.has('priority') and ticket.priority == 0 %}selected{% endif %}>Bas</option>
                <option value="1"{% if ticket.has('priority') and ticket.priority == 1 %}selected{% endif %}>Normal</option>
                <option value="2"{% if ticket.has('priority') and ticket.priority == 2 %}selected{% endif %}>Haut</option>
                <option value="3"{% if ticket.has('priority') and ticket.priority == 3 %}selected{% endif %}>Urgent</option>
            </select>
        </p>
        
        <p>
            <label for="ticket_type" class="after">Type :</label>
            <select name="ticket_type" id="ticket_type" class="form-control" required>
                <option/>
                <option value="Question"{% if ticket.has('type') and ticket.type == 'Question' %}selected{% endif %}>Poser une question</option>
                <option value="Bug"{% if ticket.has('type') and ticket.type == 'Bug' %}selected{% endif %}>Signaler un bug</option>
                <option value="Amélioration"{% if ticket.has('type') and ticket.type == 'Amélioration' %}selected{% endif %}>Proposer une amélioration</option>
                <option value="Autre"{% if ticket.has('type') and ticket.type == 'Autre' %}selected{% endif %}>Autre</option>
            </select>
        </p>

        <p>
            <label for="ticket_title" class="after">Titre :</label>
            <input type="text" {% if ticket.has('title') %} value="{{ ticket.title }}" {% endif %} id="ticket_title" name="ticket_title" class="form-control" maxlength=128 placeholder="Votre question/bug/amélioration en quelques mots" required>
        </p>

        <p>
            <label for="ticket_content" class="after">Description :</label>
            <textarea id="ticket_content" name="ticket_content" class="form-control" rows=10 placeholder="Posez votre question ou décrivez l'amélioration que vous aimeriez voir. Pour signaler un bug, précisez bien les étapes qui vous ont conduit à l'erreur et, s'il y a lieu, l'intégralité du message d'erreur." required>{% if ticket.has('content') %} {{ ticket.content }} {% endif %}</textarea>
        </p>
    </fieldset>

    <fieldset class="text-center">
        <button type="submit" class="btn btn-primary">Valider</button>
    </fieldset>
</form>
