{% extends "layout:base.html.twig" %}

{% block title %}
  Éditeur de thème
{% endblock %}

{% block main %}
  <h1>Éditer le ticket #{{ ticket.id }}</h1>

  {% include 'AppBundle:Ticket:_form.html.twig' %}

  <a href="{{ path('ticket_index') }}">Retour</a>
{% endblock %}
