{% extends "layout:base.html.twig" %}

{% block title %}
  Nouveau ticket
{% endblock %}

{% block main %}
  <h1>Nouveau ticket</h1>

  {% include 'AppBundle:Ticket:_deprecation_warning.html.twig' %}

  <a href="{{ path('ticket_index') }}">Retour</a>
{% endblock %}
