{% extends "layout:base.html.twig" %}

{% block title %}
  Support Biblys
{% endblock %}

{% block main %}
  <h1>Support Biblys</h1>

  <h2>Tous les tickets en cours</h2>

  {{ tickets|raw }}
{% endblock %}
