{% extends "layout:base.html.twig" %}

{% block title %}
  Blog
{% endblock %}

{% block main %}
  <h1 class="posts-title">Actualités</h1>
  {% include 'AppBundle:Post:_postList.html.twig' %}
  {% include 'AppBundle:Post:_pagination.html.twig' %}
{% endblock %}
