{% extends "layout:base.html.twig" %}

{% block title %}
  Connexion
{% endblock %}

{% block main %}
  <h1>Connexion</h1>

  <div class="text-center">
    <form class="form-inline" method="post" action="{{ path("user_send_login_email") }}">
      <input type="hidden" name="return_url" value="{{ returnUrl }}"/>
      <input type="text" name="username" class="login-username-field" aria-label="Ne pas remplir" />
      <input
        class="form-control"
        type="email"
        name="email"
        aria-label="Votre adresse e-mail"
        placeholder="Votre adresse e-mail…"
        required
      />
      <button class="btn btn-primary" type="submit">
        <span class="fa fa-envelope"></span>
        S'identifier par e-mail
      </button>
    </form>

    {% if loginWithAxysUrl %}
      <p>ou</p>

      <p>
        <a href="{{ loginWithAxysUrl }}" rel="nofollow" class="btn btn-primary">
          <img src="/assets/images/axys.svg" alt="" role="presentation" width="16" height="16"/>
          Se connecter avec Axys
        </a>
      </p>
    {% endif %}
  </div>

  <p><strong>Pas encore de compte ?</strong></p>

  <p>
    Entrez votre adresse e-mail ci-dessus pour lancer la procédure de création de compte.
  </p>
{% endblock %}
