{% extends "layout:base.html.twig" %}

{% block title %}
  Connexion
{% endblock %}

{% block main %}
  <h1>Connexion</h1>

  <h2>Vérifiez votre boîte de réception</h2>

  <p>
    Avec la connexion par e-mail, plus besoin de vous souvenir de votre mot de passe !
  </p>
  <p>
    Nous venons d'envoyer un courriel à <strong>{{ recipientEmail }}</strong> contenant un lien de connexion,
    cliquez simplement sur ce lien pour vous connecter.
  </p>

  <h3>Que faire si je ne trouve pas le courriel dans ma boîte de réception&nbsp;?</h3>

  <ol>
    <li>Vérifiez que l'adresse <strong>{{ recipientEmail }}</strong> est correcte.</li>
    <li>Vérifiez dans votre dossier SPAM / Courrier indésirable.</li>
    <li>
      Ajoutez <strong>{{ senderEmail }}</strong> à votre carnet d'adresses pour éduquer le filtre anti-spam.
    </li>
    <li>Attendez quelques minutes…</li>
    <li>
      <a href="{{ path('user_login', { return_url: returnUrl }) }}">Réessayez</a>
    </li>
  </ol>
{% endblock %}
