<h1>Mise à jour {{ release.version }}</h1>

<p>{{ release.date|date('j f Y') }}</p>

<p>{{ release.notes|nl2br }}</p>

<p>
  <a class="btn btn-default" href="{{ path('maintenance_changelog_index') }}">
    <span class="fa fa-arrow-left"></span>&nbsp;
    Retour aux mises à jour
  </a>
</p>
