{% extends "layout:base.html.twig" %}

{% block title %}
  Migration de la base de données
{% endblock %}

{% block main %}

  <h1>
    <span class="fa fa-database"></span>
    Migration de la base de données
  </h1>

  {% if error is defined %}

    <p class="alert alert-danger">
      {{ error }} Avant de continuer, la migration devra être effectuée manuellement à l'aide de la commande :
    </p>

    <pre>composer run propel:migrate</pre>

    <h2>Sortie :</h2>

    <pre>
      {{ output }}
    </pre>

    <a href="{{ path('main_admin') }}" class="btn btn-primary">Continuer</a>

  {% else %}

    <p class="alert alert-info">
      <i class="fa fa-cog fa-spin"></i> Mise à jour du schéma de la base de données en cours...
    </p>

    <script type="text/javascript">
      setTimeout(function() {
        window.location.href = "{{ path('main_admin') }}";
      }, 5000)
    </script>

  {% endif %}
{% endblock %}
