{#
Copyright (C) 2024 Clément Latzarus

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Créer une redirection</h2>
  </div>
  <div class="panel-body">
    <form class="form-inline" action="{{ path("redirection_create") }}" method="post">
      <div class="form-group">
        <label for="old_url">Ancienne URL :</label>
        <input type="text" class="form-control" id="old_url" name="old_url"
          {% if old_url is defined %}
            value="{{ old_url }}"
          {% endif %}
        />
      </div>
      <div class="form-group">
        <label for="new_url">Nouvelle URL :</label>
        <input type="text" class="form-control" id="new_url" name="new_url">
      </div>
      <button type="submit" class="btn btn-outline-secondary">Ajouter</button>
    </form>
  </div>
</div>
